.footer-social a {
    margin: 0 10px;
    color: #333;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #007bff;
    /* Adjust color for hover effect */
}

.footer-social i {
    display: inline-block;
    vertical-align: middle;
}
body.dark-mode {
    background-color: #333;
    /* color: white; */
    /* Dark mode background */
    color: white;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;

}

body.dark-mode .popover {
    color: rgb(0, 0, 0);
   
}
body.dark-mode #mainheading {
    /* background-color: #333; */
    color: white;
    transition: color 0.5s ease;

    /* Dark mode background */
}
body.dark-mode .facultyy {
    /* background-color: #333; */
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;

    /* Dark mode background */
}

body.dark-mode .links,
.address {
    /* background-color: #333; */
    color: rgb(0, 0, 0);
    transition: color 0.5s ease;

    /* Dark mode background */
}
body {

    transition: background-color 0.5s ease;
    transition: color 0.5s ease;

}

.toggle-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 24px;
    margin-left: 712px;
    background: #f5f5f5;
    border-radius: 50%;
    border: 2px solid #333;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* margin: 0.4rem 0; */
    transition: background 0.5s ease, border 0.5s ease;
}

.toggle-button:hover {
    transform: scale(1.5);
}

body.dark-mode .toggle-button {
    background: #333;
    /* Dark mode button background */
    border-color: #f5f5f5;
    /* color: white; */
}

/* Icons inside the button */
.icon {
    position: absolute;
    font-size: 15px;
    transition: opacity 0.3s ease;
}

/* Sun Icon (Black) */
.sun {
    color: #333;
    /* opacity: 1; */
    /* Visible by default (light mode) */
}

body.dark-mode .sun {
    display: none;
    /* Hidden in dark mode */
}

/* Moon Icon (White) */
.moon {
    color: #f5f5f5;
    display: none;
    /* opacity: 0; */
    /* Hidden by default (light mode) */
}

body.dark-mode .moon {
    display: inline;
    /* Visible in dark mode */
}

@media (max-width: 767px) {
    
    .toggle-button {
        top: 9vh;
        /* right: 3vh; */
        right: 24px;
        /* padding: 8px 8px; */
        font-size: 14px;
    }}


    #navbar {
        position: relative;
        /* transition: top 0.3s; */

    }

    /* Style for the fixed position of the navigation bar */
    #navbar.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }